* {
  font-family: "Montserrat", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.pink {
  color: #ff40ff;
}

.italics {
  font-style: italic;
}

.font-bold {
  font-weight: 500;
}

.pink-button {
  color: #ff40ff;
  border: solid #ff40ff;
  border-radius: 1rem;
  padding: 0.5rem;
  max-width: fit-content;
}

.pink-title {
  color: #ff40ff;
  border: solid #ff40ff;
  border-radius: 1rem;
  padding: 0.5rem;
  max-width: fit-content;
  text-transform: uppercase;
}

.grey-bg {
  background-color: #f8f9fa;
  padding: 20px;
}

.grey-pink {
  background-color: #f8f9fa;
  border: solid #ff40ff;
}

.white-pink {
  background-color: white;
  border: solid #ff40ff;
}

.pink-border {
  border: solid #ff40ff;
}

.figma-embed {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  opacity: 0;
  filter: blue(5px);
  transition: all 1s;
}

.show {
  filter: blur(0);
  opacity: 1;
}
