* {
  font-family: "Montserrat", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.pink {
  color: #ff40ff;
}

.white {
  color: #ffff;
}

.italics {
  font-style: italic;
}

.font-bold {
  font-weight: 500;
}

hr {
  padding-top: 3rem !important;
}

.bold-pink {
  font-weight: 500;
  color: #ff40ff;
}

.title-padding {
  padding-bottom: 6vh;
  padding-top: 6vh;
}

.pink-button {
  color: #ff40ff;
  border: solid #ff40ff;
  border-radius: 1rem;
  padding: 0.5rem;
  max-width: fit-content;
}

.pink-title {
  color: #ff40ff;
  border: solid #ff40ff;
  border-radius: 1rem;
  padding: 0.5rem;
  max-width: fit-content;
  text-transform: uppercase;
}

.grey-bg {
  background-color: #f8f9fa;
  padding: 20px;
}

.grey-bg-2 {
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.grey-pink {
  background-color: #f8f9fa;
  border: solid #ff40ff;
  display: inline-block;
}

.grey-pink-2 {
  background-color: #f8f9fae0;
  border: solid #ff40ff;
  display: inline-block;
  color: #ff40ff;
  padding: 1rem;
}

.white-pink {
  background-color: white;
  border: solid #ff40ff;
}

.pink-border {
  border: solid #ff40ff;
}

.figma-embed {
  height: 65vh;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.hidden {
  opacity: 0;
  filter: blue(5px);
  transform: translateY(0%);
  transition: all 1.5s;
  transition-delay: 200ms;
}

.show {
  filter: blur(0);
  opacity: 1;
  transform: translateY(-1%);
}

.hr-hidden {
  color: white !important;
}

#ch {
  display: none;
}

#ch:checked ~ .content {
  display: block;
}

#ch:checked ~ label {
  display: none;
}

.content {
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
}

.carousel-caption {
  top: 100%;
}

.carousel-inner {
  padding-bottom: 100px;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}
